[submodule "pfr"]
	path = ExternalEnvironment/pfr
	url = https://github.com/boostorg/pfr.git
	ignore = all
[submodule "ktm"]
	path = ExternalEnvironment/ktm
	url = https://github.com/YGXXD/ktm.git
	ignore = all
[submodule "preprocessor"]
	path = ExternalEnvironment/preprocessor
	url = https://github.com/boostorg/preprocessor.git
	ignore = all
[submodule "SPIRV-Cross"]
	path = ExternalEnvironment/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	ignore = all
[submodule "glslang"]
	path = ExternalEnvironment/glslang
	url = https://github.com/KhronosGroup/glslang.git
	ignore = all